
<br><br><br><br>
{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="row" style="justify-content: space-evenly;">
            <div class="col-lg-2">
                <div class="widget">
                    <h3>Social</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">About</h3>
                    <p>This is a chatGPT generate web project challenge. I used chatGPT to generate several project prompt to help me pratice my django skills. This is project No.1.</p>
                </div>
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">The project prompt</h3>
                    <p>Blogging Platform
                    Create a feature-rich blogging platform. Implement features like commenting, pagination, tagging, and search functionality.
                    </p>
                </div> <!-- /.widget -->  
            </div> <!-- /.col-lg-4 -->         
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
      <!-- 
          **==========
          NOTE: 
          Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
          **==========
        -->

        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  Distributed by <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
        </p>
      </div>
    </div>
  </div> <!-- /.container -->
</footer> <!-- /.site-footer -->

