{% extends 'base.html' %}

{% block content %}

<div class="section search-result-wrap">
    <div class="container">
    {% if posts %}
      <div class="row posts-entry">
        {% for post in posts %}
        <div class="col-lg-4 mb-4">
          <div class="post-entry-alt">
            <a href="{% url 'post-detail' post.slug %}" class="img-link"><img src="{{post.thumbnail.url}}" alt="Image" class="img-fluid"></a>
            <div class="excerpt">
              
        
              <h2><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 me-3 float-start"><img src="{{post.author.profile.image.url}}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="">{{post.author.get_full_name}}</a></span>
                <span>&nbsp;-&nbsp; {{ post.created_at }}</span>
              </div>
        
              <p>{{ post.snippet | safe }}</p>
              <p><a href="{% url 'post-detail' post.slug %}" class="read-more">Continue Reading</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      
        <div class="row text-start pt-5 border-top">
          {% if posts.has_other_pages %}
          <div class="col-md-12">
            <div class="custom-pagination">
              {% if posts.has_previous %}
              <a href="?page={{posts.previous_page_number}}">&laquo;</a>
              {% endif %}

              {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
              <span>{{i}}</span>
              {% else %}
              <a href="?page={{i}}">{{i}}</a>
              {% endif %}
              {% endfor %}
              
              {% if posts.has_next %}
              <a href="?page={{posts.next_page_number}}">&raquo;</a>
              {% endif %}
            </div>
          </div>
          {% else %}
            <div>Page 1 of 1</div>
          {% endif %}
          <br><br><br>
        </div>
    {% endif %}
    </div>
</div>

{% endblock  %}
