<div class="col-lg-4 sidebar">
    <h3 class="heading">Related Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                {% for p in related_posts %}
                <li>
                    <a href="">
                        <img src="{{p.thumbnail.url}}" alt="Image placeholder" class="me-4 rounded">
                        <div class="text">
                            <h4>{{p.title}}</h4>
                            <div class="post-meta">
                                <span class="mr-2">{{p.created_at}}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
                    
</div>